<% content_for(:html_title) { 'Profile - Single Cell Portal' } %>

<h1 id="profile-header">Profile for <span class="label label-primary"><%= @user.email %></span></h1>

<div id="profile-tab-root">
  <ul class="nav nav-tabs" role="tablist" id="profile-tabs">
    <li role="presentation" class="profile-nav active" id="profile-emails-nav">
      <a href="#profile-emails" data-toggle="tab">Preferences</a>
    </li>
    <% if @profiles_available %>
      <li role="presentation" class="profile-nav" id="profile-terra-nav">
        <a href="#profile-terra" data-toggle="tab">Terra Profile</a>
      </li>
    <% else %>
      <li role="presentation" class="profile-nav disabled" id="profile-terra-nav">
        <a href="#profile-terra" data-toggle="tooltip"
           title="Terra profiles are currently unavailable, please check back later.">Terra Profile</a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content top-pad">
    <div class="tab-pane active in" id="profile-emails" role="tabpanel">
      <%= form_for(@user, url: update_profile_path, html: {class: 'form', id: 'update-user-session',
                                                           data: { remote: true }}) do |f| %>
        <%= hidden_field_tag :toggle_id, "toggle_user_use_short_session" %>
        <div class="form-group">
          <%= f.hidden_field :use_short_session %>
          <h3>Session length
            <%= render_toggle(
                  'update-user-session', 'user_use_short_session', @user.use_short_session, text_array: %w[15m 24h]
                ) %>
          </h3>
          <p class="help-block">
            Toggles how long before you are signed out of your session.  The two options are 24 hours (default) or 15
            minutes (recommended for shared workstations).</p>
        </div>
      <% end %>

      <%= form_for(@user, url: update_profile_path, html: {class: 'form', id: 'update-user-profile',
                                                           data: { remote: true }}) do |f| %>
        <%= hidden_field_tag :toggle_id, "toggle_user_admin_email_delivery" %>
        <div class="form-group">
          <%= f.hidden_field :admin_email_delivery %>
          <h3>
            Admin email delivery
            <%= render_toggle('update-user-profile', 'user_admin_email_delivery', @user.admin_email_delivery) %>
          </h3>
          <p class="help-block">
            Toggles whether or not you would like to receive information emails from Single Cell Portal adminsitrators
            (new feature announcements, unplanned site maintenance, general notices, etc.).
          </p>
        </div>
      <% end %>

      <h3>My study subscriptions</h3>
      <div class="bs-callout bs-callout-default">
        <p>
          Use the table below to manage email delivery for all studies that are accessible to you.  You do not receive
          notification emails for studies when you make changes, only when others do.
        </p>
        <p class="text-primary">
          <i class="fas fa-fw fa-info-circle"></i> Note: You will still receive emails with the results of parsing from
          files you upload, and automated emails from Terra on study sharing changes.
        </p>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Study</th>
          <th>Project</th>
          <th>Permission</th>
          <th>Email delivery status</th>
        </tr>
        </thead>
        <tbody>
        <% @studies.each do |study| %>
          <tr>
            <td><%= truncate(study.name, length: 25) %></td>
            <td><%= study.firecloud_project %></td>
            <td>Owner</td>
            <td>
              <%= form_for(study, url: update_study_subscription_path(id: @user.id, study_id: study.id),
                           html: {class: 'form-inline', id: "study_subscription_#{study.id}",
                                  data: {remote: true}}) do |f| %>
                <%= hidden_field_tag :toggle_id, "toggle_study_default_options_deliver_emails_#{study.id}" %>
                <div class="form-group">
                  <%= f.fields_for(:default_options) do |opts| %>
                    <%= opts.hidden_field :deliver_emails?, value: study.deliver_emails?,
                                          id: "study_default_options_deliver_emails_#{study.id}" %>
                  <% end %>
                  <%= render_toggle(
                        "study_subscription_#{study.id}",
                        "study_default_options_deliver_emails_#{study.id}",
                        study.deliver_emails?
                      ) %>
                </div>
              <% end %>
            </td>
          </tr>

        <% end %>
        <% @study_shares.each do |share| %>
          <tr>
            <td><%= truncate(share.study.name, length: 25) %></td>
            <td><%= share.firecloud_project %></td>
            <td><%= share.permission %></td>
            <td>
              <%= form_for(share, url: update_share_subscription_path(id: @user.id, study_share_id: share.id),
                           html: {class: 'form-inline', id: "share_subscription_#{share.id}",
                                  data: {remote: true}}) do |f| %>
                <%= hidden_field_tag :toggle_id, "toggle_study_default_options_deliver_emails_#{share.id}" %>
                <div class="form-group">
                  <%= f.hidden_field :deliver_emails, value: share.deliver_emails,
                                     id: "study_default_options_deliver_emails_#{share.id}" %>
                  <%= render_toggle(
                        "share_subscription_#{share.id}",
                        "study_default_options_deliver_emails_#{share.id}",
                        share.deliver_emails
                      ) %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <% if @profiles_available %>
      <div class="tab-pane" id="profile-terra" role="tabpanel">
        <% if current_user.registered_for_firecloud %>
          <%= render partial: 'user_firecloud_profile' %>
        <% else %>
          <div class="container">
            <div class="bs-callout bs-callout-danger">
              <h4>Please complete your Terra registration</h4>
              <p>
                You may not update your Terra profile until you have registered with Terra and accepted the terms of service.
                Please <%= link_to 'visit Terra', 'https://app.terra.bio', target: :_blank, rel: 'noopener noreferrer' %>,
                select 'Sign in with Google' from the top-lefthand nav menu, and complete the sign in and registration process.
              </p>
              <p class="text-center">
                <%= link_to "Complete Registration Now <i class='fas fa-external-link-alt'></i>".html_safe, 'https://app.terra.bio',
                            target: :_blank, rel: 'noopener noreferrer', class: 'btn btn-lg btn-default' %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

    $('.user-toggle').click(function() {
      submitToggleForm(this)
    });

    $(document).ready(function() {
        reopenUiTab('#profile-tabs')
    });

</script>
