<div class="row expression-file-info-fields">
  <div class="col-sm-2">
    <%= f.label :is_raw_counts, 'Raw Count Matrix?' %><br />
    <%= f.select :is_raw_counts, options_for_select([['No', 0],['Yes', 1]], f.object.is_raw_counts ? 1 : 0), {}, class: 'form-control raw-counts-select is-raw-counts-dropdown' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :units %><br />
    <%= f.select :units, options_for_select(ExpressionFileInfo::UNITS_VALUES, f.object.units),
                 {include_blank: true},
                 class: 'form-control raw-counts-select counts-unit-dropdown', disabled: !f.object.is_raw_counts %>
  </div>
  <div class="col-sm-2">
    <%= f.label :multimodality %><br />
    <%= f.select :multimodality, options_for_select(ExpressionFileInfo::MULTIMODALITY_VALUES, f.object.multimodality),
                 {include_blank: true}, class: 'form-control' %>

  </div>
  <div class="col-sm-3">
    <%= f.label :library_construction_protocol %><br />
    <%= f.select :library_construction_protocol,
                 options_for_select(ExpressionFileInfo::LIBRARY_CONSTRUCTION_VALUES, f.object.library_construction_protocol),
                 {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="col-sm-3">
    <%= f.label :biosample_input_type %><br />
    <%= f.select :biosample_input_type, options_for_select(ExpressionFileInfo::BIOSAMPLE_INPUT_TYPE_VALUES, f.object.biosample_input_type),
                 {include_blank: true}, class: 'form-control' %>

  </div>
</div>

