<div class="form-group row">
  <div class="col-sm-4">
    <% convention_required = current_user.feature_flag_for('convention_required') %>
    <% exemption_form = 'https://singlecell.zendesk.com/hc/en-us/requests/new?ticket_form_id=1260811597230' \
                              "&tf_1260822624790=#{@study.accession}&tf_anonymous_requester_email=#{current_user.email}" \
                              "&tf_1900002173444=metadata_convention_exemption&tf_subject=" \
                              "Metadata%20Convention%20Exemption%20Request%20for%20#{@study.accession}" %>
    <%= f.label :use_metadata_convention do %>
      Do you use SCP conventional names for required metadata column headers?
      <%= render partial: 'metadata_convention_help_popover', locals: {id: f.object.id.to_s} %>
    <% end %>
    <br />
    <%= f.label :use_metadata_convention_true, 'data-analytics-name': 'metadata-convention-optin' do %>
      <%= f.radio_button :use_metadata_convention, true, checked: true, disabled: !f.object.new_record?%>
      Yes
    <% end %>
    &nbsp;
    <%= f.label :use_metadata_convention_false, 'data-analytics-name': 'metadata-convention-optout' do %>
      <% if convention_required %>
        <a href="#/" style="color:#999" id="convention-decline-label-<%= f.object.id.to_s %>"
           data-content="The convention is required.  If this is a problem for your study, please <a data-analytics-name='exemption-contact-us-link' href='<%= exemption_form %>'>contact us</a>."
           data-toggle="popover"
           data-analytics-name="convention-decline-label">
          <%= f.radio_button :use_metadata_convention, false, checked: false, disabled: true %>
          No
        </a>

      <% else %>
        <%= f.radio_button :use_metadata_convention, false, checked: false, disabled: !f.object.new_record? %>
        No
      <% end %>
    <% end %>
    &nbsp; &nbsp; <a href="#/" id="convention-decline-helplink-<%= f.object.id.to_s %>"
                     data-toggle="popover"
                     data-content="Please use this <a data-analytics-name='exemption-contact-us-link' href='<%= exemption_form %>'>contact form</a> so we can assist you with your metadata."
                     data-analytics-name="convention-decline-helplink">
    Using conventional names is an issue for my study
  </a>
    <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
      ['#convention-decline-label-', '#convention-decline-helplink-'].forEach(function(idString) {
        var popoverTarget = idString + '<%= f.object.id.to_s %>'
        $(popoverTarget).on('click', function() {
          window.SCP.log('file-upload:metadata:optout-attempt', {studyAccession: '<%= @study.accession %>'})
        })
        enableHoverPopovers(popoverTarget);
      })
    </script>
    <div id="use-metadata-convention-message"></div>
  </div>
</div>
