// populate window.SCP.currentStudyFiles with information about all known StudyFiles
window.SCP.currentStudyFiles = <%= @study.study_files.persisted.map(&:attributes).to_json.html_safe %>

$('<%= params[:modal_target]%>').modal('hide');

// when uploading a file that can have multiple instances, only call completeWizardStep the first time
// also update progress bar
<% if %w(initialize_ordinations_form initialize_labels_form initialize_marker_genes_form initialize_primary_data_form
         initialize_misc_form initialize_expression_form).
         include?(params[:partial]) %>
	var step = '<%= @allow_only.present? ? "initialize_#{@allow_only}_expression_form" : params[:partial] %>';
	completeWizardStep(`${step}_nav`);
	var status = getWizardStatus();
	setWizardProgress(status);
	console.log('incrementing status for ' + step + ' upload');
	$('#' + step + '_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: params[:partial] + '_completed'}) %>");
	$('#' + step + '_nav_completed').html("<span class='fas fa-check text-success'></span>");
<% end %>

// emit event to trigger updates to all raw counts select inputs if this file was a raw counts matrix
if (<%= @study_file.is_raw_counts_file? %>) {
  $('.expression-file-info-fields').each(function(index, element) {
    let formId = $(element).closest('form').attr('id')
    $(`#${formId}`).trigger('updateRawCountsSelect')
  })
}

// re-render form upload to get download button and increment completed status
$.ajax({
    url: "<%= retrieve_wizard_upload_study_path(@study._id) %>",
    data: {
        file: '<%= params[:file] %>',
        selector: '<%= params[:selector] %>',
        partial: '<%= params[:partial] %>',
        allow_only: '<%= @allow_only %>'
    }
});
