<% content_for(:html_title) { 'Collections - Single Cell Portal' } %>
<h2><%= link_to 'Home', site_path %> / Collections</h2>
<span>Collections are curated groups of studies that share a common research theme. If your organization is interested in creating a collection in SCP, contact us at <%= mail_to 'scp-support@broadinstitute.zendesk.com', 'scp-support@broadinstitute.zendesk.com' %></span>
<div class="row">
  <div class="col-md-12">
    <ul class="collections-list">
      <% @branding_groups.each do |branding_group| %>
        <li id="<%= branding_group.name_as_id %>">
          <div class="collections-logo">
            <% if branding_group.splash_image.filename.present? %>
              <%= link_to image_tag(branding_group.splash_image.url), site_path(scpbr: branding_group.name_as_id) %>
            <% end %>
          </div>
          <div class="collections-name">
            <%= link_to branding_group.name, site_path(scpbr: branding_group.name_as_id) %>
            <% if user_signed_in? && current_user.branding_groups.any? %>
              <%= get_published_label(branding_group) %>
            <% end %>
            <br/>
            <%= branding_group.tag_line %><br/>
            <%= branding_group.studies.count %> studies
            <% if branding_group.external_link_url.present? %>
              <br/>
              <%= link_to branding_group.external_link_description.html_safe + " <span class='fas fa-fw fa-external-link-alt'></span> ".html_safe,
                          branding_group.external_link_url, target: '_blank', rel: 'noopener noreferrer' %>
            <% end %>
          </div>
          <div class="collections-actions">
            <% if branding_group.can_edit?(current_user) %>
              <%= scp_link_to "<i class='fas fa-search'></i> Info".html_safe, branding_group_path(branding_group), class: "btn btn-xs btn-info #{branding_group.name_as_id}-show" %>
              <%= scp_link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_branding_group_path(branding_group), class: "btn btn-xs btn-primary #{branding_group.name_as_id}-edit" %>
              <% if branding_group.can_destroy?(current_user) %>
                <%= scp_link_to "<i class='fas fa-trash'></i> Destroy".html_safe, branding_group_path(branding_group),
                                method: :delete, class: "btn btn-xs btn-danger delete-btn #{branding_group.name_as_id}-delete",
                                data: { confirm: 'Are you sure you want to delete this collection?' }
                %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <li>
        <div class="collections-logo">
          <%= link_to image_tag('covid19-logo.png'), '/single_cell/covid19' %>
        </div>
        <div class="collections-name">
          <%= link_to 'COVID-19 Studies', '/single_cell/covid19' %><br/>
          These are studies which have been identified by the study owners as relevant to COVID-19.<br/>
          <%= PresetSearch.find_by(name: 'covid19').try(:accession_list).try(:count) %> studies
        </div>
      </li>
    </ul>
  </div>
</div>
