<div class="mask" id="main-banner">
  <% if FeatureAnnouncement.latest_features? %>
    <%= scp_link_to "<span class='badge'>#{FeatureAnnouncement.latest.count}</span> " \
                    "#{pluralize_without_count(FeatureAnnouncement.latest.count, "New feature")}".html_safe,
                    latest_feature_announcements_path, class: 'btn btn-warning', id: 'latest-features-btn',
                    data: { toggle: 'tooltip', placement: 'left' }, title: 'Learn about new Single Cell Portal features!' %>
  <% end %>
  <% if @selected_branding_group.present? %>
  <% content_for(:html_title) { "#{@selected_branding_group.name} - Collections - Single Cell Portal" } %>
    <% if @selected_branding_group.banner_image.file %>
      <style>
        #main-banner {
          background-image: url("<%= @selected_branding_group.banner_image.url %>") !important;
        }
      </style>
    <% end %>
    <div id="main-banner-logo">
      <% if @selected_branding_group.splash_image.file %>
        <%= image_tag @selected_branding_group.splash_image.url, style: 'padding: 5px 0; display: inline-block;' %>
      <% end %>
      <p id='main-banner-name'><%= @selected_branding_group.name %></p>
      <p id='main-banner-tag-line'><%= @selected_branding_group.tag_line %></p>
    </div>
  <% else %>
    <div id="main-banner-logo">
      <%= image_tag "SCP-logo.png", id: 'scp-logo' %>
      <p id='main-banner-tag-line' class="scp-banner-position">Reducing barriers and accelerating single-cell research</p>
    </div>
  <% end %>
  <div id="main-banner-counts">
    <span class="counts-text">Featuring<br />
      <span class="green-count"><%= @study_count %></span> <%= pluralize_without_count(@study_count, 'study') %><br />
      <span class="blue-count"><%= number_with_delimiter @cell_count %></span> <%= pluralize_without_count(@cell_count, 'cell') %>
    </span>
  </div>
</div>
