<div class="row no-bottom-margin form-group" id="selection-well">
  <%= form_for(:user_annotation, url: create_user_annotations_path(accession: @study.accession, study_name: @study.url_safe_name), html: {id: 'create_annotations', method: :post, data: {remote: true}}) do |f|  %>
    <div class="col-sm-12 form-group">
      <%= f.text_field :name, class: 'form-control need-text annotation-name', placeholder: 'Name this group of labels' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :cluster_group_id, value: @cluster.id %>
      <%= f.hidden_field :study_id, value: @study.id %>
      <% if !params[:subsample].blank? %>
        <%= f.hidden_field :subsample_annotation, value: params[:annotation] %>
        <%= f.hidden_field :subsample_threshold, value: params[:subsample] %>
      <% end %>
      <%= f.hidden_field :loaded_annotation, value: params[:annotation] %>
    </div>
    <div id="selection-table"></div>
    <div id="selection-button">
      <div class="col-xs-12 text-center">
        <%= f.button 'Create Annotation', {class:'btn btn-success', id: 'selection-submit', type: 'button'} %>
      </div>
    </div>
  <% end %>
</div>
<div id="submit_script">
  <%= render 'selection_submit' %>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  window.SCP.userAnnotations()
</script>
