<nav id="study-sidebar-content">
  <%= link_to "<i class='fas fa-angle-double-right' id='resource-btn'></i>".html_safe, '#',
              id: 'toggle-study-resources', class: 'btn btn-sm btn-default' %>
  <% if @study.publications.any? %>
    <h3>Related publications</h3>
    <% @study.publications.each do |publication| %>

      <h4><%= publication.title %></h4>
      <% if publication.citation %>
        <p class="help-block"><%= publication.citation %></p>
      <% end %>
      <% if publication.pmcid %>
        <%= link_to publication.pmcid, publication.pmc_link,
                    class: 'btn btn-sm btn-default publication-link margin-right-10', target: :_blank,
                    rel: 'noopener noreferrer', 'data-analytics-name' => 'publication-link-pmc' %>
      <% end %>
      <%= link_to publication.journal, publication.url, class: 'btn btn-sm btn-default publication-link',
                  target: :_blank, rel: 'noopener noreferrer', 'data-analytics-name' => 'publication-link-journal' %>
  <% end %>

  <% end %>
  <% if @study.external_resources.any? %>
    <h3>Resources</h3>
    <% @study.external_resources.each do |resource| %>
      <p>
        <%= link_to resource.title, resource.url, class: 'btn btn-default navigation-form external-resource-link',
                    target: :_blank, rel: 'noopener noreferrer', title: resource.description,
                    data: { toggle: 'tooltip', 'analytics-name' => 'external-resource-link' } %>
      </p>
    <% end %>
  <% end %>

</nav>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  $("#toggle-study-resources").on('click', function() {
    $("#study-sidebar-content").toggleClass("closed");
    $("#resource-btn").toggleClass('fa-angle-double-right fa-angle-double-left');
    $(this).toggleClass("closed")
  });
</script>
