<div class="row">
  <div class="col-md-2" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-13" id="render-target">
    <div class="row-offcanvas row-offcanvas-right">
      <div id="view-options-nav"><a href="#view-options" id="view-option-link" data-toggle="offcanvas"><i class="fas fa-cog" aria-hidden="true"></i> View Options </a></div>
      <ul class="nav nav-tabs" role="tablist" id="view-tabs" data-tablist-name="explore-default">
        <% if @study.can_visualize_clusters? %>
          <li role="presentation" class="study-nav active" id="plots-tab-nav"><a href="#plots-tab" data-toggle="tab">Clusters </a></li>
        <% end %>
        <% if @study.can_visualize_genome_data? %>
          <li role="presentation" class="study-nav<%= !@study.can_visualize_clusters? ? ' active' : nil %>" id="genome-tab-nav">
            <a href="#genome-tab" data-toggle="tab">Genome </a>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'view_options' %>
      <div class="tab-content">
        <% if @study.can_visualize_clusters? %>
          <div class="tab-pane active" id="plots-tab" role="tabpanel">
            <div class="panel panel-default no-top-border">
              <div id="plots" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-xs-12">
                        <div id="colorscale-target"></div>
                        <div id="toggle-plots"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div id="cluster-plot"></div>
                      <div id="cluster-figure-legend"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @study.can_visualize_genome_data? %>
          <div class="tab-pane<%= !@study.can_visualize_clusters? ? ' active' : nil%>" id="genome-tab" role="tabpanel" >
            <div class="panel panel-default no-top-border">
              <div id="genome-container" class="panel-collapse collapse in">
                <div style="padding: 15px 30px;">
                  <%= render partial: '/site/genome/genome' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  window.SCP.study = {
    accession: '<%= @study.accession %>',
    canVisualizeClusters: <%= @study.can_visualize_clusters? %>,
    taxons: <%= raw @taxons.to_json %>,
    numPointsCluster: <%= @cluster.points %>,
    isClusterSubsampled: <%= @cluster.subsampled %>,
    ideogramInferCnvFiles: <%= raw @ideogram_files.to_json %>,
    hasIdeogramInferCnvFiles: <%= @ideogram_files.present? %>,
    renderClusterPath: '<%= render_cluster_path(accession: @study.accession, study_name: @study.url_safe_name) %>',
    getNewAnnotationsPath:'<%= get_new_annotations_path(accession: @study.accession, study_name: @study.url_safe_name)%>'
  }

  console.log('ok')

  window.SCP.plots = [];

  window.SCP.taxons = window.SCP.study.taxons;
</script>
<%= nonced_javascript_include_tag 'study_overview/study-overview' %>
