<div id="study-sidebar-content" class="col-md-3">
  <% if @study.authors.corresponding.any? %>
    <h4>Corresponding authors</h4>
    <% @study.authors.corresponding.each do |author| %>
      <%= link_to "#{author.first_name} #{author.last_name} <i class='fa fas fa-envelope'></i>".html_safe, '#',
                  class: 'btn btn-sm btn-default corresponding-author',
                  data: {
                    contact: author.base_64_email, placement: 'top',
                    'analytics-name' => 'email-corresponding-author'
                  },
                  title: "Send email to #{author.first_name} #{author.last_name}" %>
    <% end %>
  <% end %>
  <% if @study.publications.any? %>
    <h4>Related publications</h4>
    <% @study.publications.each do |publication| %>
      <h4><%= link_to publication.title, publication.url, target: :_blank, rel: 'noopener',
                      'data-analytics-name' => 'publication-link-journal', title: "View in #{publication.journal}",
                      data: { toggle: 'tooltip' } %>
      </h4>
      <% unless publication.citation.blank? %>
        <p class="help-block"><%= publication.citation %></p>
      <% end %>
      <% unless publication.pmcid.blank? %>
        <%= link_to publication.pmcid, publication.pmc_link, class: 'btn btn-sm btn-default publication-link',
                    target: :_blank, rel: 'noopener', 'data-analytics-name' => 'publication-link-pmc' %>
      <% end %>
    <% end %>
  <% end %>
  <% if @study.external_resources.any? %>
    <h5>Resources</h5><p></p>
    <% @study.external_resources.each do |resource| %>
      <p>
        <%= link_to resource.url,
          target: :_blank, rel: 'noopener', title: resource.description,
          data: { toggle: 'tooltip', 'analytics-name' => 'external-resource-link' } do %>
          <%= resource.title %> <span class="fas fa-external-link-alt"></span>
        <% end %>
      </p>
    <% end %>
  <% end %>

</div>
