
<h3>Default view options</h3>
<p class="help-block">
  Configure basic visualization defaults, such as what the default expression axis label, cluster, annotation,
  color profile, and cluster point display properties are when someone views your study.
</p>
<div id="default-study-options-form">
  <%= f.fields_for :default_options do |opts| %>
    <% if @study.can_visualize_clusters? && @study.default_cluster.present? %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= opts.label :cluster, 'Default cluster' %><br />
          <%= opts.select :cluster, options_for_select(@study.cluster_groups.map(&:name), @default_cluster.name), {}, class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= opts.label :annotation, 'Default annotation' %><br />
          <%= opts.select :annotation, grouped_options_for_select(@default_cluster_annotations, @study.default_annotation), {},class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= opts.label :color_profile, "Default color profile <i class='fas fa-info-circle' title='Default color profile for numeric annotations and expression plots' data-toggle='tooltip'></i>".html_safe %><br />
          <%= opts.select :color_profile, options_for_select(SiteController::COLORSCALE_THEMES, @study.default_color_profile), {include_blank: 'N/A'} , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= opts.label :cluster_point_size, "Size of cluster points (in px) <i class='fas fa-fw fa-question-circle' data-toggle='tooltip' title='Global value for the size of all cluster points, in pixels.'></i>".html_safe %><br />
          <%= opts.number_field :cluster_point_size, value: @study.default_cluster_point_size, class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= opts.label :cluster_point_border, 'Show cluster point borders?' %><br />
          <%= opts.select :cluster_point_border, options_for_select([['Yes', true],['No', false]], @study.show_cluster_point_borders?), {}, class: 'form-control' %>
        </div>
        <div class="col-sm-4">
          <%= opts.label :cluster_point_alpha, "Cluster point opacity <i class='fas fa-fw fa-question-circle' data-toggle='tooltip' title='Global value for the transparency (alpha) of all cluster points.  Only values between 0 and 1 are accepted.'></i>".html_safe %><br />
          <%= opts.number_field :cluster_point_alpha, value: @study.default_cluster_point_alpha, in: 0.0..1.0, step: 0.05, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <% if @viz_override_annotations.any? %>
            <%= opts.label :override_viz_limit_annotations, "Add undisplayed annotations (>200 or single value) to dropdown" %><br />
            <%= render partial: '/layouts/multiselect_checkbox_field', locals: {
              form: opts, options: @viz_override_annotations, overrides: @study.override_viz_limit_annotations
            } %>
          <% end %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= opts.label :expression_label, 'Expression axis label' %>&nbsp;<span class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title='This is displayed as the axis label for box & scatter plots showing expression values.  This label is global to all expression values.'></span> <br />
          <%= opts.text_field :expression_label, value: @study.default_options[:expression_label], placeholder: @study.default_expression_label, class: 'form-control' %>
        </div>
      </div>
      <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
        $('#study_default_options_annotation').change(function() {
          var annotType = $(this).val().split('--')[1];
          var colorProfile = $('#study_default_options_color_profile');
          if (annotType == 'group') {
            colorProfile.val('');
            colorProfile.attr('disabled', true);
          } else {
            colorProfile.attr('disabled', false);
          }
        });

        $('#study_default_options_cluster_point_alpha').change(function () {
          var formElement = $(this);
          var alpha = parseFloat(formElement.val());
          if (alpha < 0) {
            formElement.val(0.0);
          } else if (alpha > 1) {
            formElement.val(1.0);
          }
        });

        $('#study_default_options_cluster').change(function(){
          var cluster = $(this).val();
          $.get("<%= load_annotation_options_study_path(@study) %>?cluster=" + cluster, function() {
            $(document).ready(function() {
              var newAnnotType = $('#study_default_options_annotation').val().split('--')[1];
              var colorProfile = $('#study_default_options_color_profile');
              if (newAnnotType == 'group') {
                colorProfile.val('');
                colorProfile.attr('disabled', true);
              } else {
                colorProfile.attr('disabled', false);
              }
            });
          })
        });
      </script>
    <% end %>
    <% if @study.has_gene_lists? %>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= opts.label :precomputed_heatmap_label, 'Precomputed heatmap menu label' %>&nbsp;<span class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title='This is displayed above the list of uploaded precomputed heatmaps.'></span> <br />
          <%= opts.text_field :precomputed_heatmap_label, value: @study.default_options[:precomputed_heatmap_label], placeholder: 'Precomputed heatmaps', class: 'form-control' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if (!@study.can_visualize_clusters? || !@study.default_cluster.present?) && !@study.has_gene_lists? %>
    No options are available for this study -- options are only available if clusters or precomputed heatmaps have been uploaded.
  <% end %>
</div>
