<%= nested_form_for(@study, url: update_study_settings_path(accession: @study.accession, study_name: @study.url_safe_name.blank? ? params[:study_name] : @study.url_safe_name), html: {id: 'update-study-settings-form', multipart: true, data: {remote: true}}) do |f| %>
  <% if @study.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h4>
      <ul>
        <% @study.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="settings-tab-root" class="upload-wizard-react">
    <div class="col-md-2">
      <ul class="upload-wizard-steps" role="tablist" id="study-settings-tabs">
        <li role="presentation" class="settings-nav active" id="settings-general-nav">
          <a href="#settings-general" data-toggle="tab">General</a>
        </li>
        <li role="presentation" class="settings-nav" id="settings-viz-nav">
          <a href="#settings-viz" data-toggle="tab">View options</a>
        </li>
        <li role="presentation" class="settings-nav" id="settings-sharing-nav">
          <a href="#settings-sharing" data-toggle="tab">Sharing/Access</a>
        </li>
        <li role="presentation" class="settings-nav" id="settings-authors-nav">
          <a href="#settings-authors" data-toggle="tab">Authors/Publications</a>
        </li>
        <li role="presentation" class="settings-nav" id="settings-resources-nav">
          <a href="#settings-resources" data-toggle="tab">External resources</a>
        </li>
      </ul>
      <br/>
      <h5>Management pages</h5>
      <ul class="list-style-none">
        <li>
          <%= scp_link_to "Edit name & description", edit_study_path(@study), class: "#{@study.url_safe_name}-edit" %>
        </li>
        <li role="presentation">
          <%= scp_link_to "Upload/Edit data", initialize_study_path(@study), class: "#{@study.url_safe_name}-upload" %>
        </li>
        <li>
          <%= scp_link_to "Sync workspace", sync_study_path(@study), class: "#{@study.url_safe_name}-sync sync-button" %>
        </li>
        <li>
          <%= scp_link_to "Study details", study_path(@study), class: " #{@study.url_safe_name}-sync details-button" %>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="tab-content">
        <div class="tab-pane active" id="settings-general">
          <%= render partial: 'study_settings_general', locals: { f: f } %>
        </div>
        <div class="tab-pane" id="settings-viz">
          <%= render partial: 'study_settings_viz', locals: { f: f } %>
        </div>
        <div class="tab-pane" id="settings-sharing">
          <%= render partial: 'study_settings_sharing', locals: { f: f } %>
        </div>
        <div class="tab-pane" id="settings-authors">
          <%= render partial: 'study_settings_authors', locals: { f: f } %>
        </div>
        <div class="tab-pane" id="settings-resources">
          <%= render partial: 'study_settings_resources', locals: { f: f } %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 text-center">
      <%= link_to 'Update settings', '#', class: 'btn btn-primary', id: 'update-study-settings' %>
    </div>
  </div>
<% end %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    $('#update-study-settings').click( function() {
        launchModalSpinner('#update-study-settings-spinner', '#update-study-settings-modal', function() {
            var updateForm = $('#update-study-settings-form');
            updateForm.submit();
        });
    });

    $("#update-study-settings-form").on('change', '.share-permission', function() {
        var newPermission = $(this).val();
        var permissionText = <%= raw StudyShare::PERMISSION_DESCRIPTION_MAP.to_json %>;
        var descField = $(this).next('.share-description');
        descField.html(permissionText[newPermission])
    });
</script>
