<h2>Study Settings</h2>
<%= nested_form_for(@study, url: update_study_settings_path(accession: @study.accession, study_name: @study.url_safe_name.blank? ? params[:study_name] : @study.url_safe_name), html: {id: 'update-study-settings-form', multipart: true, data: {remote: true}}) do |f| %>
  <% if @study.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h4>
      <ul>
        <% @study.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="settings-tab-root">
    <ul class="nav nav-tabs" role="tablist" id="study-settings-tabs">
      <li role="presentation" class="settings-nav active" id="settings-general-nav">
        <a href="#settings-general" data-toggle="tab">General</a>
      </li>
      <li role="presentation" class="settings-nav" id="settings-viz-nav">
        <a href="#settings-viz" data-toggle="tab">Visualizations</a>
      </li>
      <li role="presentation" class="settings-nav" id="settings-sharing-nav">
        <a href="#settings-sharing" data-toggle="tab">Sharing/Access</a>
      </li>
      <li role="presentation" class="settings-nav" id="settings-authors-nav">
        <a href="#settings-authors" data-toggle="tab">Authors/Publications</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="settings-general">
        <%= render partial: 'study_settings_general', locals: { f: f } %>
      </div>
      <div class="tab-pane" id="settings-viz">
        <%= render partial: 'study_settings_viz', locals: { f: f } %>
      </div>
      <div class="tab-pane" id="settings-sharing">
        <%= render partial: 'study_settings_sharing', locals: { f: f } %>
      </div>
      <div class="tab-pane" id="settings-authors">
        <%= render partial: 'study_settings_authors', locals: { f: f } %></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 text-center">
      <%= link_to 'Update settings', '#', class: 'btn btn-lg btn-success', id: 'update-study-settings' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 text-center">
      <%= scp_link_to "<span class='fas fa-upload'></span> Upload/Edit data".html_safe, initialize_study_path(@study), class: "btn btn-sm btn-primary #{@study.url_safe_name}-upload" %>
      <%= scp_link_to "<span class='fas fa-sync-alt'></span> Sync workspace".html_safe, sync_study_path(@study), class: "btn btn-sm btn-warning #{@study.url_safe_name}-sync sync-button" %>
    </div>
  </div>
<% end %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    $('#update-study-settings').click( function() {
        launchModalSpinner('#update-study-settings-spinner', '#update-study-settings-modal', function() {
            var updateForm = $('#update-study-settings-form');
            updateForm.submit();
        });
    });

    $("#update-study-settings-form").on('change', '.share-permission', function() {
        var newPermission = $(this).val();
        var permissionText = <%= raw StudyShare::PERMISSION_DESCRIPTION_MAP.to_json %>;
        var descField = $(this).next('.share-description');
        descField.html(permissionText[newPermission])
    });
</script>
