<style>
  .tab-content .tab-pane {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
</style>
<div class="row">
  <div class="col-md-2" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-13" id="render-target">
    <div class="row-offcanvas row-offcanvas-right">
      <div id="view-options-nav"><a href="#view-options" id="view-option-link" data-toggle="offcanvas"><i class="fas fa-cog" aria-hidden="true"></i> View Options </a></div>
      <ul class="nav nav-tabs" role="tablist" id="view-tabs" data-analytics-name="explore-single-gene">
        <li role="presentation" class="study-nav active" id="box-or-violin-tab-nav"><a href="#box-or-violin-tab" id="distribution-link" data-toggle="tab">Distribution</a></li>
        <li role="presentation" class="study-nav" id="scatter-tab-nav"><a href="#scatter-tab" id="scatter-link" data-toggle="tab">Scatter</a></li>
        <% if !@genes.nil? or @precomputed_heatmap %>
          <li role="presentation" class="study-nav" id="dot-plots-tab-nav"><a href="#dot-plots-tab" id="dot-plots-link" data-toggle="tab">Dot Plot</a></li>
        <% end %>
        <% if @study.has_bam_files? %>
            <li role="presentation" class="study-nav" id="genome-tab-nav">
            <a href="#genome-tab" data-toggle="tab">Genome </a>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'view_options' %>
      <div class="tab-content">
        <%= render partial: @top_plot_partial %>
      </div>
    </div>
  </div>
  <div id="expression-plots"></div>
  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

      window.SCP.gene = '<%= @gene %>';

      window.SCP.exploreSingle()
  </script>
</div>
