<%= form_with(model: feature_announcement, id: 'feature-announcement') do |form| %>
  <% if feature_announcement.errors.any? %>
    <div class="bs-callout bs-callout-danger" id="feature-announcement-errors-block">
      <h2><%= pluralize(feature_announcement.errors.count, "error") %> prohibited this feature announcement from being saved:</h2>

      <ul>
        <% feature_announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-md-5">
      <%= form.label :doc_link, 'Documentation/Link' %>
      <%= form.text_field :doc_link, class: 'form-control' %>
    </div>
    <div class="col-md-1">
      <%= form.label :published, "Published <i class='fas fa-question-circle'></i>".html_safe,
                     data: { toggle: 'tooltip' }, title: 'Uncheck to hide this announcement in all lists' %><br />
      <%= form.check_box :published, checked: feature_announcement.published %>
    </div>
    <div class="col-md-1">
      <%= form.label :archived, "Archived <i class='fas fa-question-circle'></i>".html_safe,
                     data: { toggle: 'tooltip' }, title: "Check to move this to the 'Archives' list" %><br />
      <%= form.check_box :archived, checked: feature_announcement.archived %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-lg btn-success', id: 'save-feature-announcement' %>
  </div>
<% end %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  ClassicEditor
    .create( document.querySelector( '#feature_announcement_content' ),
      fullCKEditorConfig
    )
    .catch( function(error) {
        console.error( error );
      }
    );

</script>
