<% content_for(:html_title) { 'Reports - Single Cell Portal' } %>

<h1>Reports <%= link_to "<i class='fas fa-fw fa-chart-bar'></i> Request a new report".html_safe, report_request_path, class: 'btn btn-primary pull-right', id: 'report-request' %></h1>
<h3 class="lead">Updated as of <%= Time.zone.now.strftime("%A, %B %-d %Y %r") %></h3>
<div class="row">
  <div class="col-md-12 table-responsive">
    <table class="table">
      <tr>
        <th>Report</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <% if current_user.admin %>
        <tr>
          <td>Study Data</td>
          <td>Study-level info about owners, sharing, metadata & expression</td>
          <td>
            <%= link_to 'View', '#', class: 'btn btn-primary view-report', id: 'view-study-data',
                        data: {'loading-text' => 'Loading... ', toggle: 'button' } %>
            <%= link_to 'Export', api_v1_report_url('studies'), class: 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Differential Expression Results</td>
        <td>Breakdown of differential expression results</td>
        <td>
          <%= link_to 'View', '#', class: 'btn btn-primary view-report', id: 'view-de-data',
                      data: {'loading-text' => 'Loading... ', toggle: 'button' } %>
          <%= link_to 'Export', api_v1_report_url('differential_expression'), class: 'btn btn-default' %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 table-responsive">
    <table id="report-table" class="table table-condensed"></table>
  </div>
</div>
<%= render partial: 'contact_modal' %>
<!-- broken HTML/JS reports have been removed in favor of Api::V1::ReportsController study export -->
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  const reportTarget = $('#report-table')
  const REPORTS = {
    'view-study-data': '<%= api_v1_report_url('studies') %>',
    'view-de-data': '<%= api_v1_report_url('differential_expression', view_context: true) %>'
  }
  let table
  $('.view-report').on('click', function(event) {
    if ($.fn.dataTable.isDataTable(reportTarget)) {
      reportTarget.empty()
      table.fnDestroy()
    }
    reportTarget.append("<h3 class='text-center'><i class='fas fa-lg fa-spin fa-spinner'></i></h3>")
    let target = $(event.target)
    let report = target.attr('id')
    let reportUrl = REPORTS[report]
    $.ajax({
      url: reportUrl,
      method: 'GET',
      dataType: 'html',
      success: (data) => {
        reportTarget.empty()
        let lines = data.split("\n").map( (line) => {
          return line.split("\t")
        })
        let columns = lines.shift().map( (header) => {
          return { title: header }
        })
        table = reportTarget.dataTable({
          columns: columns,
          data: lines,
          order: [[1, 'asc']]
        })
      }
    })
  })
</script>
