<h1>Reports <%= link_to "<i class='fas fa-fw fa-chart-bar'></i> Request a new plot".html_safe, report_request_path, class: 'btn btn-primary pull-right', id: 'report-request' %></h1>
<h3 class="lead">Updated as of <%= Time.zone.now.strftime("%A, %B %-d %Y %r") %> <%= link_to "<i class='fas fa-toggle-on'></i> Toggle Totals".html_safe, '#/', class: 'btn btn-default pull-right', id: 'toggle-column-annots' %></h3>

<div class="row">
  <div class="col-md-12">
    The charts on this page have been temporarily deprecated in favor of
    <a href="https://docs.google.com/spreadsheets/d/1FSpP2XTrG9FqAqD9X-BHxkCZae9vxZA3cQLow8mn-bk/edit#gid=0" target="_blank">The google spreadsheet summary</a> and the raw export below.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <% if current_user.admin %>
      <%= link_to 'Raw study data TSV', api_v1_report_url('studies') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="plotly-pipeline-submissions-fail" class="plotly-report"></div>
  </div>
  <% if current_user.admin %>
    <div class="col-xs-12">
      <p class="text-center top-pad"><%= link_to "Export Submission Report", export_submission_report_path, class: 'btn btn-default', id: 'export-submission-report' %></p>
    </div>
  <% end %>
</div>

